body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  padding: 40px;
}

nav {
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin-right: 5px;
  border: none;
  background: #22c55e;
  cursor: pointer;
}

.page {
  background: #0f172a;
  padding: 20px;
  border-radius: 8px;
}
